# Archivos de configuración con secretos
.env
*.env
.env.*

# Directorio de Terraform (contiene estados sensibles y binarios)
.terraform/

# Otros archivos comunes de la CLI de Terraform
*.tfstate
*.tfstate.backup

crash.log
