# Archivos de configuración con secretos
.env
*.env
.env.*
.env.prod

# Directorio de Terraform (contiene estados sensibles y binarios)
.terraform/

terraform.dev.tfvars
terraform.prod.tfvars

# Otros archivos comunes de la CLI de Terraform
*.tfstate
*.tfstate.backup

crash.log

.venv
