name: CI - Build & Push to ECR

on:
  push:
    branches-ignore:
      - main   # evita que el CI se ejecute en main (solo CD)

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      id-token: write   # necesario para OIDC
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t fastapi-app:latest .

      - name: Tag Docker image for ECR
        run: |
          docker tag fastapi-app:latest ${{ vars.ECR_REPO }}:latest

      - name: Push Docker image to ECR
        run: |
          docker push ${{ vars.ECR_REPO }}:latest
